/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*globales*/

body {
  font-family: arial;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 3px solid #9c9c9c;
  width: 100%;
}

/*sticky footer*/
.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*header*/
header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.QUALITYMED_consultores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.QUALITYMED_consultores h1 {
  color: #9c9c9c;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #9c9c9c;
  padding-right: 60px;
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 10px;
  font-size: 13px;
}

.logo {
  padding-left: 100px;
}

/*main*/
main {
  background: #fff;
  flex-grow: 1;
}

main h2 {
  color: #000;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}


/*footer*/
footer {
  background: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columna_datos {
  padding-right: 100px;
  line-height: 32px;
}

.columna_datos p {
  font-size: 18px;
}

/*RESPONSIVE*/

/*TABLET < 1300PX */
@media (max-width: 1300px) {
  header {
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  header .logo {
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  header h1 {
    font-size: 50px;
    padding-left: 0;
  }

  header a {
    text-align: center;
    padding: 30px;
  }

  footer .QUALITYMED_consultores {
    display: inline;
    text-align: center;
  }

  footer .logo {
    padding-left: 0;
  }

  footer .QUALITYMED_consultores h1 {
    padding-left: 0;
    padding-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
  }

  .columna_datos {
    padding-right: 60px;
  }
}

/*TABLET < 960PX */
@media (max-width: 960px) {
  header .QUALITYMED_consultores {
    display: inline;
    text-align: center;
  }

  header h1 {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .columna_datos {
    padding-right: 20px;
  }


}

/*MOBILE LARGE < 820X */
@media (max-width: 820px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
  }

  .QUALITYMED_consultores {
    grid-column: 1/3;
    padding-bottom: 50px;
  }
}

/*MOBILE MEDIUM < 680X*/
@media (max-width: 680px) {
  header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: center;
  }

  /*
  img {
    width: 100%;
  }
  nav {
    display: none;
  }
  */
}

/*MOBILE SMALL < 520X*/ 
@media (max-width: 520px) {

  header .logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  header .QUALITYMED_consultores h1 {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }

  footer {
    display: inline;
  }

  footer section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .columna_datos {
    padding-right: 0;
  }
  footer .QUALITYMED_consultores h1{
    padding-bottom: 30px;
  }
  
}


/*MOBILE XMALL < 380X*/ 
@media (max-width: 380px) {
  
  header ul {
    display: inline;
  }

  header ul a {
    padding-left: 0;
    padding-right: 0;
  }

  header li{
    padding-bottom: 10px;
    padding-top: 10px;
  }


}

/* #70ebff  */
